@echo off
SET ONEC_USERNAME=login
SET ONEC_PASSWORD=pass
SET ONEC_VERSION=8.3.22.1709
SET EDT_VERSION=2022.1.3

SET DOCKER_REGISTRY_URL=jugatsu
SET DOCKER_LOGIN=login
SET DOCKER_PASSWORD=pass

SET DOCKER_SYSTEM_PRUNE=false
SET NO_CACHE=false
